.mainAssociationBox {
    position: absolute;
    width: 330px;
    left: 72%;
    top: 94px;

    background: #FFFFFF;
    border-radius: 10px;
}

.otherPeopleLine {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.employerLine {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.associationBoxPink {
    width: 300px;

    background: #e3d1d1;
    border-radius: 5px;
    margin: auto;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}