.titles{
    color: #8b0000;
    margin:20px;
    font-size: 18px;
    display: inline;
}

.experienceTitles{
    color: #8b0000;
    font-size: 22px;
    padding-top:10px;
    padding-left:60px;
    padding-bottom:1px;
}

.whiteBox{
    border: 3px solid #fff;
    background-color: #ffff;
    width:90%;
    padding: 20px;
    margin-left: 150px;
    margin-right:auto;
    margin-top: 100px;
    height: 2000px;
    border-radius: 10px;
}
    
.insideBox{
    width: 400px;
    height: 300px;
    float: left;
    padding: 30px;
    border: none;
    margin-left: 75px;
}

.insideExperienceBox{
    width: 350px;
    height: 300px;
    float: left;
    padding: 20px;
    border: none;
    margin-left: 27px;
}

.inputs{
    width:355px;
    height:30px;
    background-color: #e3d1d1;
    border:none;
    border-radius: 10px;
    margin: 20px;
}

.experienceInputs{
    width:350px;
    height:30px;
    background-color: #ffff;
    border:none;
    border-radius: 10px;
    margin: 20px;
}

.descriptionInputs{
    width:770px;
    height:30px;
    background-color: #ffff;
    border:none;
    border-radius: 10px;
    margin: 20px;
}

.jobExperienceBox{
    position:absolute;
    background-color: #e3d1d1;
    width: 900px;
    margin: auto;
    top: 500px;
    left: 300px;
    border-radius:  10px;
}

.volunteerExperienceBox{
    position:absolute;
    background-color: #e3d1d1;
    width: 900px;
    margin: auto;
    top: 1000px;
    left: 300px;
    border-radius:  10px;
}

.educationBox{
    position:absolute;
    background-color: #e3d1d1;
    width: 900px;
    margin: auto;
    top: 1500px;
    left: 300px;
    border-radius:  10px;
}

.submitButton{
    position:absolute;
    background-color: #e3d1d1;
    border-radius: 10px;
    border:none;
    top: 1970px;
    left: 600px;
    width: 300px;
    height: 50px;
}

